// Heading Color
$heading-color: #242424;

// Text Color
$text-color: #6d6d6d;

// Default Background
$bg-default: rgb(193, 178, 131);

// Gray Background
$bg-gray: #f7f7f7;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #131212;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: grey;

// Footer Color
$footer-color: #clb283;

// Secondary Color
$secondary-color: #3c3c3c;